@model ZMLisSys.ViewModels.LisLaboratory_ViewModels_str

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.2.516/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.2.516/kendo.material.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>*@    

    <style>
        /*
            Increase the width of the edit form.
            The default one is 400px.
        */

        .k-edit-form-container {
            width: auto;
        }

        input,
        select,
        textarea {
            max-width: 580px !important;
        }
    </style>
</head>
<body>
    <div id="PersonalBase" class="card card-primary">
        <div class="card-header">
            @*<h4 class="card-title">使用者資料維護</h4>*@
            <div class="card-tools">
                <div class="tab" style="float:left;">
                    <button class="btn btn-warning tablinks active" onclick="openCity(event, 's1')">資料結構</button>
                    @*<button class="btn btn-warning tablinks" onclick="openCity(event, 's2')">資料匯入</button>
                    <button class="btn btn-warning tablinks" onclick="openCity(event, 's3')">個人資訊</button>
                    <button class="btn btn-warning tablinks" onclick="openCity(event, 's4')">群組</button>
                    <button class="btn btn-warning tablinks" onclick="openCity(event, 's5')">圖片</button>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="s1" class="tabcontent active" style="width:100%;">
                    @{ Html.RenderPartial("_LisLabStr"); }
                </div>
                @*<div id="s2" class="tabcontent" style="width:100%;">
                    @{ Html.RenderPartial("_LisLabimport"); }
                </div>*@
                @*<div id="s3" class="tabcontent" style="width:100%;">
                    @{ Html.RenderPartial("_SysUserPersonal"); }
                </div>
                <div id="s4" class="tabcontent" style="width: 100%;">
                    @{ Html.RenderPartial("_SysUserGroup"); }
                </div>*@
                @*<div id="s5" class="tabcontent" style="width: 100%;">
                    @{ Html.RenderPartial("_LisLabPhoto"); }
                </div>*@
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            openCity(event, 's1')
        });
    </script>
</body>
</html>
