@(Html.Kendo().Grid<ZMLisSys.ViewModels.LisLaboratory_ViewModels_str>()
    .Name("grid_LisLaboratory_str")
    .Selectable(selectable => selectable
    .Mode(GridSelectionMode.Single)
    .Type(GridSelectionType.Row))
    //.Events(events =>
    //{
    //    events.Change("LisLaboratory_Grid_OnRowSelect");
    //    //events.DataBound("dataBound");
    //})
    .Columns(columns =>
    {
        columns.Bound(c => c.SMRowid).Hidden(true);
        columns.Bound(c => c.LLRowid).Hidden(true);
        columns.Bound(c => c.SMFieldMeno);
        columns.Bound(c => c.SMFieldName);
        columns.Bound(c => c.SMFieldType).EditorTemplateName("SMFieldTypeEditor");
        columns.Bound(c => c.SMFieldLength).EditorTemplateName("SMFieldLengthEditor");
        columns.Bound(c => c.SMFieldKindName).EditorTemplateName("SMFieldKindEditor");
        columns.Command(command =>
        {
            //command.Edit().Text("修改");
            command.Edit().Text("修改");
            //command.Destroy().Text("刪除");
            command.Custom("刪除").IconClass("k-icon k-i-close").Click("openWindow");
            /*command.Custom("匯入").IconClass("k-icon k-i-track-changes").Click("importExcel");  */ //.Click("openAAFWindow");      // Asthma Assessment Form 氣喘評估表, JavaScript in Asthma.js
            //command.Custom("刪除").IconClass("k-icon k-i-close");   //.Click("openWindow");     // Javascript in ZMCMSv2.js
            //command.Custom("氣喘自我評估").HtmlAttributes(new { @style = "width:135px;" }).IconClass("k-icon k-i-track-changes").Click("openAAFWindow");      // Asthma Assessment Form 氣喘評估表, JavaScript in Asthma.js
        }).Width("35%");
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("新增").HtmlAttributes(new { id = "addRecord" }).IconClass("fas fa-plus");
        toolbar.Excel().Text("輸出到 Excel");
        toolbar.Custom().Text("資料結構解析").HtmlAttributes(new { id = "ImportSchema", onclick="openImportSchema()" }).Url("#");
        @*toolbar.Template(@<text><button id="ImportSchema" class="btn btn-warning" onclick="openImportSchema()"><i class="fa fa-plus"> 資料結構解析</i></button>
                                <div style="float:left;padding-right:10px;">
                                    <button id="btnExport2Excel" class="btn btn-warning k-grid-excel">
                                        <i class="fa fa-file-excel"> 輸出到 Excel</i>
                                    </button>
                                </div>
                         </text>);*@
    })
    .Excel(e => e.Filterable(true).AllPages(true))
    .ColumnMenu()
        .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))        
        //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("myTemplate").Window(w => w.Title("檢驗結構設定").Width(800)))
        .Pageable(page => page.Refresh(true).ButtonCount(10))
            .Navigatable()
            .Sortable(sortable =>
            {
                sortable.SortMode(GridSortMode.MultipleColumn);
            })
            .Filterable()
            //Scrollable(scrollable => scrollable.Enabled(false))
            .Scrollable(scrollable => scrollable.Enabled(true).Height(600))
            .DataSource(dataSource => dataSource.Ajax().PageSize(30)
                //.Sort(s => s.Add("SMFieldName").Descending())
                .Model(model => model.Id(p => p.SMRowid))
                //.Events(events => events.Error("error_handler").Sync("sync_handler"))
                .Read(read => read.Action("LisSchema_Read", "LisSchema"))
                .Create(create => create.Action("LisSchema_Create", "LisSchema").Data("getLLRowid"))
                .Update(update => update.Action("LisSchema_Update", "LisSchema"))
                .Destroy(destory => destory.Action("LisSchema_Destroy", "LisSchema"))
            )
            .NoRecords("目前未有任何資料顯示 !")

)
