@*@model ZMLisSys.ViewModels.LisLaboratory_ViewModels_str
@{
    ViewBag.Title = "_LisLabStr";
}*@

@*<!DOCTYPE html>
<html>
<head>*@
    <meta name="viewport" content="width=device-width" />
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/main")*@
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/contents/css")

    <script src="~/Scripts/ZMLisSys.js"></script>
    <script>
        function onReorder(e) {
            e.preventDefault();
            var dataSource = e.sender.dataSource;

            var dataItem = e.dataItems[0]
            var index = dataSource.indexOf(dataItem) + e.offset;
            dataSource.remove(dataItem);
            dataSource.insert(index, dataItem);
            e.sender.wrapper.find("[data-uid='" + dataItem.uid + "']").addClass("k-state-selected");
        }
    </script>

    <style>
        .card-body {
            padding: 0 !important;
        }
    </style>

    <style>
        .k-datepicker {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-numerictextbox {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-textbox {
            /*background: #333 !important;*/
            border: 1px solid #555 !important;
            /*color: #EEE !important;*/
        }

        .k-dropdown {
            border: 1px solid #555 !important;
        }

        /* Grid 按鈕顏色 */
        .k-grid .k-button {
            background-color: #f0ac4e !important;
            color: white !important;
        }

        #wrapper {
            width: 100%;
            /*border: 1px solid black;*/
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
@*</head>*@
@*<body>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-5">
                        <div style="padding-top:1px;">
                            <div style="text-align:center;border:solid 1px;color:white;background-color:#008a8b;padding:5px;height:40px;">
                                @*<h6>結構欄位ALL</h6>*@
                                <span style="padding-right:20px;">結構欄位ALL</span>
                            </div>
                        </div>
                        @(Html.Kendo().ListBox()
                            .Name("listbox1")
                            .Draggable(true)
                            .DropSources("listbox2")
                            .HtmlAttributes(new { style="width:100%;height:700px;padding:10px 0px 10px 10px;"})
                            .ConnectWith("listbox2")
                            .DataValueField("SMRowid")
                            .DataTextField("SMFieldName")
                            .Toolbar(toolbar =>
                            {
                                toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                                toolbar.Tools(tools => tools
                                    .MoveUp()
                                    .MoveDown()
                                    .TransferTo()
                                    .TransferFrom()
                                    .TransferAllTo()
                                    .TransferAllFrom()
                                    .Remove()
                                );
                            })
                            .DataSource(source => source.Custom()
                                .Transport(transport => transport
                                .Read(read => read.Action("GetLabStr", "LisSchema"))
                            ))
                        )
                    </div>
                    <div class="col-sm-6">
                        <div style="padding-top:1px;">
                            <div style="text-align:center;border:solid 1px;color:white;background-color:#008a8b;padding:5px;height:40px;">
                                <span style="padding-right:20px;">已選取的欄位</span>
                                <input type="button" value="儲存" id='send-selected'>
                            </div>
                        </div>
                        @(Html.Kendo().ListBox()
                            .Name("listbox2")
                            .Draggable(true)
                            .DropSources("listbox1")
                            .HtmlAttributes(new { style = "width:100%;height:700px;padding:10px 10px 10px 0px; " })
                            .ConnectWith("listbox1")
                            .DataValueField("SMRowid")
                            .DataTextField("SMFieldName")
                            .Toolbar(toolbar =>
                            {
                                toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                                toolbar.Tools(tools => tools
                                    .MoveUp()
                                    .MoveDown()
                                );
                            })
                            .DataSource(source => source.Custom()
                                .Transport(transport => transport
                                .Read(read => read.Action("GetSelectedLabStr", "LisSchema"))
                            )).Events(e => e.Reorder("onReorder"))
                        )
                    </div>
                </div>

            </div>

        </div>
    </div>



@*</body>
</html>*@
