@model ZMLisSys.ViewModels.LisLaboratory_ViewModels_str
@*@{
    ViewBag.Title = "_LisLabimport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/main")*@
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/contents/css")

    <script src="~/Scripts/ZMLisSys.js"></script>
    
</head>
<body>
   <h1>Hello</h1>

</body>
</html>
