@(Html.Kendo().Grid<ZMLISSys.ViewModels.ViewModel_SysHospital>()
    .Name("grid_SysHospital")
    .Columns(columns =>
    {
        columns.Bound(c => c.HospRowid).Hidden(true);
        columns.Bound(c => c.HospID).Width(150);
        columns.Bound(c => c.HospName);
        columns.Bound(c => c.HospAddress).HtmlAttributes(new { @style = "font-size:10px;" });
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="refreshBtnContainer">
                <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>匯出到 Excel</a>                
            </div>
            <div class="toolbar">
                <div style="float:left;line-height:30px;">
                    <input id="searchHospital" type="search" placeholder="請輸入查詢條件" aria-label="Search" style="border:solid 1px #aaaaaa;padding:2px;height:30px;width:150px !important;">
                </div>
                <div style="float:left;line-height:30px;">
                    <button class="btn btn-navbar" type="button" onclick="getSysHospital();">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </text>);
    })
    .Excel(e => e.Filterable(true).AllPages(true))
    .ColumnMenu()
    .Pageable(page => page.Refresh(true)
        .ButtonCount(2)
    )
    .Navigatable()
    .Sortable(sortable => { sortable.SortMode(GridSortMode.MultipleColumn); })
    .Filterable().Scrollable(scrollable => scrollable.Enabled(true).Height("670"))
    .Reorderable(reorderable => reorderable.Columns(true)).Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
    .Events(events =>
    {
        //events.DataBound("resizeGrid");
        events.Change("grid_SysHospital_OnRowSelect");
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(s => s.Add("HospID").Ascending())
        .Model(model =>
        {
            model.Id(p => p.HospRowid);
        })
        .Events(events => events.Error("error_handler").Sync("sync_handler"))
        .Read(read => read.Action("SysHospital_Read", "HospitalLaboratory").Data("grid_sysHospitalonRead"))
        .PageSize(20)
    )
    .NoRecords("目前未有任何資料顯示 !")
)
