@(Html.Kendo().Grid<ZMLISSys.ViewModels.ViewModel_HospitalLaboratoryItem>()
    .Name("grid_HospitalLaboratoryItem")
    .Columns(columns =>
    {
        //columns.Select().Width(50);
        columns.Bound(m => m.HospID).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:12px;" }).Hidden(true);
        columns.Bound(m => m.HLIRowid).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        //columns.Bound(m => m.LLIRowid).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        //columns.Bound(m => m.LLISubRowid).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        columns.Bound(m => m.HLISeqno).HeaderHtmlAttributes(new { @style = "font-size:14px;" }).Width(80);
        columns.Bound(m => m.HLICode).Width(120).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        columns.Bound(m => m.HLIName).Width(150).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        //columns.Bound(m => m.LLCTrdCName).Width(110).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        columns.Bound(m => m.LLITrdCName01).Width(150).EditorTemplateName("_LLDRowidEditor").HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        columns.Bound(m => m.LLITrdCName02).Width(150).EditorTemplateName("_LLDSubRowidEditor").HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        columns.Bound(m => m.LLINhiCode).Width(110).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        //columns.Bound(m => m.LLINhiCost).Width(120).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        //columns.Bound(m => m.LLIUnit).Width(80).Hidden(true).HeaderHtmlAttributes(new { @style = "font-size:14px;" });
        columns.Bound(m => m.HLIDisplayRange).Width(150).HeaderHtmlAttributes(new { @style = "font-size:14px;" });        
        //columns.Bound(m => m.LLIUp_Male).Width(75).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        //columns.Bound(m => m.LLILo_Male).Width(75).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        //columns.Bound(m => m.LLIUp_Female).Width(75).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        //columns.Bound(m => m.LLILo_Female).Width(75).HeaderHtmlAttributes(new { @style = "font-size:11px;" });
        columns.Command(command =>
        {
            command.Edit().Text(" ").CancelText(" ").UpdateText(" ");
            //command.Custom(" ").IconClass("k-icon k-i-close").Click("openWindow");
        }).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("新增資料").HtmlAttributes(new { id = "addRecord" });
        toolbar.Excel().Text("輸出到 Excel");
    })
    .Excel(e => e.Filterable(true).AllPages(true))
    .ColumnMenu()
    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
    .Pageable(page => page.Refresh(true).ButtonCount(5)
        .PageSizes(new[] { 50, 100, 200, 300, 400, 500 })
        .Messages(message => message.ItemsPerPage("每頁顯示數目"))
    )
    //.Events(e => e.DataBound("HospitalLaboratoryItem_dataBound"))
    //.PersistSelection()
    .Navigatable()
    .Sortable(sortable => { sortable.SortMode(GridSortMode.MultipleColumn); })
    .Filterable().Scrollable(scrollable => scrollable.Enabled(true).Height("650")).Resizable(resize => resize.Columns(true))
    .DataSource(dataSource => dataSource.Ajax().ServerOperation(false)
        .Sort(x => x.Add("HLISeqno").Ascending())
        .Model(model => { model.Id(h => h.HLIRowid); })
        .Events(events => events.Error("error_handler").Sync("Sync_grid_HospitalLaboratoryItem"))
        .Read(read => read.Action("HosptialLaboratoryItem_Read", "HospitalLaboratory"))
        .Create(create => create.Action("HosptialLaboratoryItem_Create", "HospitalLaboratory").Data("getHospID"))
        .Update(update => update.Action("HosptialLaboratoryItem_Update", "HospitalLaboratory"))
        .Destroy(destroy => destroy.Action("HosptialLaboratoryItem_Destory", "HospitalLaboratory"))
        .PageSize(100))
    .NoRecords("目前未有任何資料顯示 !")
)

@(Html.Kendo().Sortable()
    .For("#grid_HospitalLaboratoryItem")
    .Filter("table > tbody > tr")
    .Cursor("move")
    .AutoScroll(true)
    //.HintHandler("noHint")
    .Hint("hintElement")
    .PlaceholderHandler("placeholder")
    .ContainerSelector("#grid_HospitalLaboratoryItem tbody")
    .Events(events => events.Change("onMoveChange"))
)

<script>
    var noHint = $.noop;

    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65);
    }

    function onMoveChange(e) {
        var grid = $("#grid_HospitalLaboratoryItem").data("kendoGrid"),
            skip = grid.dataSource.skip(),
            oldIndex = e.oldIndex + skip,   // The old position.
            newIndex = e.newIndex + skip,   // The new position.
            view = grid.dataSource.view(),
            data = grid.dataSource.data(),
            dataItem = grid.dataSource.getByUid(e.item.data("uid"));

        dataItem.HLISeqno = newIndex; // Update the order
        dataItem.dirty = true;

        // Shift the order of the records.
        if (oldIndex < newIndex) {
            for (var i = oldIndex + 1; i <= newIndex; i++) {
                view[i].HLISeqno--;
                view[i].dirty = true;
            }
        } else {
            for (var i = oldIndex - 1; i >= newIndex; i--) {
                view[i].HLISeqno++;
                view[i].dirty = true;
            }
        }

        grid.dataSource.sync();

        //grid.dataSource.remove(dataItem);
        //grid.dataSource.insert(newIndex, dataItem);

        //$.ajax({
        //    url: "/ZMLISSys/HospitalLaboratory/HospitalLaboratoryItemSeq_Update",
        //    type: "Post",
        //    data: {
        //        sHospID: dataItem.HospID,
        //        sHLIRowid: dataItem.HLIRowid,
        //        iHLISeq: e.newIndex
        //    },
        //    success: function () {                
        //        var grid = $('#grid_SysHospital').data('kendoGrid');
        //        var dsa = grid.dataItem(grid.select());

        //        if (dsa != null) {
        //            $('#grid_HospitalLaboratoryItem').data('kendoGrid').dataSource.read(
        //                {
        //                    sHospID: dataItem.HLIRowid.HospID                            
        //                });
        //        }
        //    },
        //    error: function (data) {
        //        alert("資料更新失敗 !!!!" + data);
        //    }
        //});

        //alert(e.newIndex + "    " + dataItem.HLIRowid);
    }

    function hintElement(element) {                         // Customize the hint.

        var grid = $("#grid_HospitalLaboratoryItem").data("kendoGrid"),
            table = grid.table.clone(),                     // Clone the Grid table.
            wrapperWidth = grid.wrapper.width(),            // Get the Grid width.
            wrapper = $("<div class='k-grid k-widget'></div>").width(wrapperWidth),
            hint;

        table.find("thead").remove();                       // Remove the Grid header from the hint.
        table.find("tbody").empty();                        // Remove the existing rows from the hint.
        table.wrap(wrapper);                                // Wrap the table
        table.append(element.clone().removeAttr("uid"));    // Append the dragged element.

        hint = table.parent();                              // Get the wrapper.

        return hint;                                        // Return the hint element.
    }
</script>